<% content_for :title do %>Apoio<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="team-name" data-view="Text" data-title="Apoio" data-text="CI" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphoreAcessos" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphoreNPS" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphorePonto" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphoreWorkflow" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphoreAuth" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphoreTopdesk" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="semaphoreMonitor" data-view="SemaphoreBranch" data-title="Semaphore" data-suffix=""></div>
    </li>
  </ul>
</div>
