<% content_for :title do %>Apoio - Flowclimate<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="team-name" data-view="Text"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cmdLast" data-view="Number" data-title="Última Semana" data-prefix="R$"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="cmdCurrent" data-view="Number" data-prefix="R$"></div>
    </li>
    </li>
  </ul>
</div>