<% content_for :title do %>Apoio - Honeybadger<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="nps_freq" data-view="Honeybadger" data-title="NPS - Erros Mais Frequentes" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="nps_rec" data-view="Honeybadger" data-title="NPS - Erros Mais Recentes"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="auth_freq" data-view="Honeybadger" data-title="Auth - Erros Mais Frequentes" ></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="auth_rec" data-view="Honeybadger" data-title="Auth - Erros Mais Recentes"></div>
    </li>
  </ul>
</div>