<% content_for :title do %>Microgyms<% end %>
<div class="gridster">
  <h2>Fitness Classes</h2>
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="most_freq_fault" data-view="Honeybadger" data-title="Most Frequent Errors" data-project-id="52116"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="most_recent_fault" data-view="Honeybadger" data-title="Most Recent Errors" data-project-id="52116"></div>
    </li>
  </ul>

  <h2>Race System</h2>
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="most_freq_fault" data-view="Honeybadger" data-title="Most Frequent Errors" data-project-id="53010"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="most_recent_fault" data-view="Honeybadger" data-title="Most Recent Errors" data-project-id="53010"></div>
    </li>
  </ul>
</div>